body {
  margin: 0px;
  background-image: url("../wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  font-family: Segoe UI;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  height: 100vh;
  width: 100vw;
}

ul {
  list-style-type: none;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: rgb(247, 247, 247, 0.7);
}

li {
    display: inline-block;
    padding: 7px;
}

li:hover {
    background-color: rgb(255, 255, 255, 0.8);
    cursor: pointer;
}

/* Start menu */
.start {
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.884);
  bottom: -545px;
  width: 100%;
  margin: 0 auto;
  height: 550px;
  width: 550px;
  position: fixed;
  left: 0;
  right: 0;
  padding: 40px;
  border-radius: 20px;
  transition: .5s;
  opacity: 0;
  text-align: left;
}

/* Window */
#mydiv {
  border-radius: 10px;
  position: absolute;
  z-index: 9;
  background-color: rgb(241,241,241, .8);
  text-align: center;
  border: 1px solid #d3d3d3;
  text-align: left;
}

#mydivheader {
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #0076fd;
  color: #fff;
}

.clse-8A:hover {
  background-color: red;
  transition: 1s;
  cursor: pointer;
}
