body {
  margin: 0px;
  background-image: url("../wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: rgb(247, 247, 247, 0.7);
}

li {
    display: inline-block;
    padding: 7px;
}

li:hover {
    background-color: rgb(255, 255, 255, 0.8);
    cursor: pointer;
}
